html{
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.logo{
    position: absolute;
    padding-top: 0;
    z-index: 4;
    padding-top: 37px;
    margin-left:300px;
}
    

.header{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 3;

}
.header img{
    width: 1550px;
}
  
.fon{
    width: 1550px;
    z-index: 2;
    margin-top:100px ;
    position: absolute;
    filter: brightness(25%);
}
.fon img{
    width: 1550px;
}
.search{
    margin-left: 390px;
    margin-top: 50px;
    position: absolute;
    z-index: 5;
    max-width: 400px;
    width: 100%;

}
.search__input{
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    transition: border-color 0.3s ease;
}

nav ul {
    font-size:26px ;
    margin-top: 50px;
    margin-left: 740px;
    position: absolute;
    z-index: 3;
    color: #45a049;
    list-style-type: none;
    padding: 0;
    margin:0 10 ;
   
}

nav ul li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #45a049;
    z-index: 3;
    display: inline;
    margin: 0 15px;
}

nav a {
    z-index: 2;
    color: rgb(39, 37, 24);
    text-decoration: none;
}

.niga{
    z-index: 5;
    position: absolute;
    padding-top: 400px;
    margin-left: 830px;
}

.icon{
    position: absolute;
    z-index: 5;
    margin-left: 1400px;
    padding-top: 40px;
}
.h1{
    box-shadow: inset;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
    z-index: 5;
    margin-top: 70px;
    padding-left: 440px;
    font-size: 80px;
    text-shadow: 8px 10px 10px rgba(0, 0, 0, 0.5);
}
.h{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position: absolute;
    z-index: 2;
    margin-top: -90px;
    padding-left: 330px;
    font-size: 100px;
    filter: brightness(55%);
    text-shadow: 0px 40px 10px rgba(0, 0, 0, 0.5);
}
.ob{
    position: absolute;
    z-index: 4;
    margin-top: 990px;
}
.ob img{
    width: 1550px;

}
.we{
    position: absolute;
    z-index: 6;
    margin-top:1000px;
}
.we img{
    width: 1550px;
}

main {
    padding: 20px;
}
.circle{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position:absolute;
    z-index: 10;
    width: 500px;
    height: 100px;
    margin-top: 1140px;
    margin-left:490px ;
    background-color:white;
    border-radius: 15px;
}
.circl{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position:absolute;
    z-index: 9;
    width: 500px;
    height: 100px;
    margin-top: 1160px;
    margin-left:460px ;
    background-color:rgb(200, 193, 193);
    border-radius: 15px;
    filter: brightness(25%);
}
.katalog{
   
    margin-left: 667px;
    margin-top: 1150px;
    position: absolute;
    z-index: 10;
}
.kat{
    width:1545px; 
    height:1230px;
    position: absolute;
    z-index: 1;
    margin-top: 1300px;
    filter: brightness(25%);

}
.kat img{
    width: 1550px;
    height: 1240px;
    
}
.janr{
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 40px;
    position: absolute;
    z-index: 1000;
    margin-top: 1340px;
    padding-left: 420px;
}
.janr h1{
    z-index: 100;
    animation: dew 5s linear infinite;
}
@keyframes dew{
    0% { 
        transform:translateX(200%);
    }
    100% {
        transform:translateX(-100%);
    }
}
.book-list {
    
    margin-top: 1540px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-item { 
    z-index: 100;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 15px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.book-item h2 {
    font-size: 1.2em;
}

.book-item button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.book-item button:hover {
    background-color: #2789a7;
}
.more{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position:absolute;
    z-index: 10;
    width: 300px;
    height: 100px;
    margin-top: 70px;
    margin-left:615px ;
    background-color:white;
    border-radius: 15px;
}
.mor{
    color: #000000;
    position: absolute;
    z-index: 10;
    margin-top: 80px;
    margin-left: 698px;
    list-style-type: none;
    text-decoration: none;
    cursor: pointer;
}
.mor a{
    color: #000000;
    text-decoration: none;
}
.ona{
   
    position:absolute;
    z-index: 10;
    width: 300px;
    height: 100px;
    margin-top: 350px;
    margin-left:615px ;
    background-color:white;
    border-radius: 50px;
}
.kon{
    color: #000000;
    position: absolute;
    z-index: 30;
    margin-top: 360px;
    margin-left: 695px;
    font-size: 20px;


}
.footer{
    position: absolute;
    z-index: 1;
    margin-top: 420px;
    filter: brightness(30%);

}
.footer img{
    width:1545px;
    height:400px;
}
.footer_logo{
    position: absolute;
    z-index: 4;
    padding-top: 600px;
    margin-left:730px;
}
.iconci{
    position: absolute;
    gap: 20px;
    margin: 0 10;
    display: flex;
    position: absolute;
    z-index: 4;
    padding-top: 700px;
    margin-left:650px;
}

@media (max-width: 1300px){
    
}
@media (max-width: 320px){
  
    .logo{
        position: absolute;
        padding-top: 0;
        z-index: 4;
        padding-top: 37px;
        margin-left:30px;
    }
        
    
    .header{
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        position: absolute;
        z-index: 3;
    
    }
    .header img{
        height: 190px;
        width:860px;
    }
      
    .fon{
        z-index: 2;
        margin-top:100px ;
        position: absolute;
        filter: brightness(25%);
    }
    .fon img{
        height: 1000px;
        width: 860px;
    }
    .search{
        margin-left: 160px;
        margin-top: 50px;
        position: absolute;
        z-index: 5;
        max-width: 400px;
        width: 100%;
    
    }
    .search__input{
        width: 80%;
        padding: 10px;
        font-size: 16px;
        border: 2px solid #ccc;
        border-radius: 5px;
        margin-right: 10px;
        transition: border-color 0.3s ease;
    }
    
    nav ul {
        font-size:26px ;
        margin-top: 30px;
        margin-left: 520px;
        position: absolute;
        z-index: 3;
        color: #45a049;
        list-style-type: none;
        padding: 0;
        margin:0 10 ;
       
    }
    
    nav ul li {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #45a049;
        z-index: 3;
        display: inline;
        margin: 0 15px;
    }
    
    nav a {
        z-index: 2;
        color: rgb(39, 37, 24);
        text-decoration: none;
    }
    
    .niga{
        z-index: 5;
        position: absolute;
        padding-top: 400px;
        margin-left: 830px;
    }
    
    .icon{
        position: absolute;
        z-index: 5;
        margin-left: 740px;
        padding-top: 40px;
    }
    .h1{
        box-shadow: inset;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        position: absolute;
        z-index: 5;
        margin-top: 90px;
        padding-left:200px;
        font-size: 60px;
        text-shadow: 8px 10px 10px rgba(0, 0, 0, 0.5);
    }
    .h{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;
        position: absolute;
        z-index: 2;
        width: 1000px;
        margin-top: 40px;
        padding-left: 100px;
        font-size: 80px;
        filter: brightness(55%);
        text-shadow: 0px 40px 10px rgba(0, 0, 0, 0.5);
    }
    .ob{
        position: absolute;
        z-index: 4;
        margin-top: 990px;
    }
    .ob img{
        width: 860px;
    }
    .we{
        position: absolute;
        z-index: 6;
        margin-top:1000px;
    }
    .we img{
        width: 860px;
    }
    
    main {
        padding: 20px;
    }
    .circle{
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        position:absolute;
        z-index: 10;
        width: 500px;
        height: 100px;
        margin-top: 1040px;
        margin-left:147px ;
        background-color:white;
        border-radius: 15px;
    }
    .circl{
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        position:absolute;
        z-index: 9;
        width: 500px;
        height: 100px;
        margin-top: 1060px;
        margin-left:137px ;
        background-color:rgb(200, 193, 193);
        border-radius: 15px;
        filter: brightness(25%);
    }
    .katalog{
        font-size: 30px;
        margin-left: 290px;
        margin-top: 1020px;
        position: absolute;
        z-index: 10;
    }
    .kat{
        
        position: absolute;
        z-index: 1;
        margin-top: 1300px;
        filter: brightness(25%);
    
    }
    .kat img{
        margin-top: -140px;
        height: 500px;
        width: 860px;
    }
    .janr{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        font-size: 40px;
        position: absolute;
        z-index: 10;
        margin-top: 1240px;
        padding-left: 330px;
    }
    main{
      margin-left: 280px;
    }
    .book-list {
        
        margin-top: 1540px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .book-item { 
        z-index: 100;
        background: white;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 15px;
        padding: 20px;
        width: 200px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .book-item h2 {
        font-size: 1.2em;
    }
    
    .book-item button {
        background-color: #000000;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
    }
    
    .book-item button:hover {
        background-color: #2789a7;
    }
    .more{
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        position:absolute;
        z-index: 10;
        width: 300px;
        height: 100px;
        margin-top: 60px;
        margin-left:290px ;
        background-color:white;
        border-radius: 15px;
    }
    .mor{
        color: #000000;
        position: absolute;
        z-index: 10;
        margin-top: 80px;
        margin-left: 698px;
        list-style-type: none;
        text-decoration: none;
        cursor: pointer;
    }
    .mor a{
       margin-left: -330px;
        color: #000000;
        text-decoration: none;
    }
    .ona{
       
        position:absolute;
        z-index: 10;
        width: 300px;
        height: 100px;
        margin-top: 350px;
        margin-left:300px ;
        background-color:white;
        border-radius: 50px;
    }
    .kon{
        color: #000000;
        position: absolute;
        z-index: 30;
        margin-top: 360px;
        margin-left: 370px;
        font-size: 20px;
    
    
    }
    .footer{
        position: absolute;
        z-index: 1;
        margin-top: 420px;
        filter: brightness(30%);
    
    }
    .footer img{
        width:860px;
        height:400px;
    }
    .footer_logo{
        position: absolute;
        z-index: 4;
        padding-top: 600px;
        margin-left:400px;
    }
    .iconci{
        position: absolute;
        gap: 20px;
        margin: 0 10;
        display: flex;
        position: absolute;
        z-index: 4;
        padding-top: 700px;
        margin-left:330px;
    }
}

  
